


{{ define "sections-tree-nav" }}
{{ range .Sections }}
    {{if gt (len .LinkTitle) 0}}
        <li><h5><a href="{{.Permalink}}">{{ .LinkTitle }}</a></h5> </li>
        {{ template "sections-nav" . }}
        <ul>
       {{ template "sections-tree-nav" . }}
        </ul>
    {{else if gt (len .Title) 0}}
        <li><h5><a href="{{.Permalink}}">{{ .Title }}</a></h5> </li>
        {{ template "sections-nav" . }}
        <ul>
       {{ template "sections-tree-nav" . }}
        </ul>
    {{end}}
{{ end }}
{{ end }}

<div>
    <ul>

        {{ if gt (len .Sections) 0}}
        <h4>Subcategories</h4>
        {{ template "sections-tree-nav" . }}
        {{end}}
    </ul>
</div>

